
@{
    ViewData["Title"] = "Delete";
}

<h2>Ar tikrai?</h2>
<div><a href="@Url.Action("Index", "AsmeninesStoteles")">Taip</a></div><div><a href="@Url.Action("Index", "AsmeninesStoteles")">Ne</a></div>
