@model EChargerInternational.Models.Naudotojas
@{
    ViewData["Title"] = "DetailedView";
}

<h2>DetailedView</h2>
@Html.ActionLink("Blokuoti", "BlockUser", "Naudotojas", Model.Id)
<script>

</script>
