
@{
    ViewData["Title"] = "Index";
}

<h2>Naudotojai</h2>
Čia bus naudotojai.
<div><a href="@Url.Action("Create", "Naudotojai")">KURTI</a></div> <div><a href="#">Filtruoti</a></div>
<table class="table">
    <tr>
        <td>Pavadinimas</td>
        <td><a href="@Url.Action("Delete", "Naudotojai")">Trinti</a> <a href="@Url.Action("Edit", "Naudotojai")">Keisti</a></td>
    </tr>
</table>